@import '../utilities/fonts';

$font-stack: 'Open Sans', sans-serif;
$background-color: rgba(0, 0, 0, 0.8);
$color: #cacaca;

:local .tooltip {
  line-height: 2;
  position: absolute;
  padding: 0 5px;
  background-color: $background-color;
  color: $color;
  border-radius: 3px;
  font-size: .75rem;
  font-family: $font-stack;
  white-space: pre;
}

:local .arrow {
  position: absolute;
  content: '';
  border: 5px solid transparent;
}
